@use '../sourcesVarMix.scss';

* {
    @include sourcesVarMix.mar-pad;
    box-sizing: border-box;
}

.header{
    height: 60px;
    background-color: #ffe600;   
    display: flex;
    justify-content:center;
    align-items:center ; 
}
.header__width{
    height: 32px;
    width: sourcesVarMix.$width-content;
    display: flex;
    flex-direction: row;
}

.logo-contenedor{
    @include sourcesVarMix.mar-pad;
    align-items: center;
}

.LogoML{
    height:32px;
    margin-right: 16px;
    cursor: pointer
}

.search-window{
    height: 26px;
    width: 100%;
}

.input-text{
    @include sourcesVarMix.mar-pad;
    color: #333333;
    font-size: 18px;
    height: 32px;
    width: 100%;
    border:none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.search-button{
    @include sourcesVarMix.mar-pad;
    border:none;
    height: 32px;
    width: 32px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer
}

.search-icon{
    height: 16px;
    width: 16px;
    background-color: #eeeeee;
    color: #999999;
}