@use '../sourcesVarMix.scss';

body{
    background-color: #EEEEEE;
    box-sizing: border-box;
}

.detail-body{
    display: grid;
    justify-content: center;
}

.top{
    display: flex;
}

.image-cantainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 680px;
    width: 680px;
}

.image-detail{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.path-breadcrumb{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    font-family: sourcesVarMix.$font-family1;
    color: #999999;
    width: sourcesVarMix.$width-content;
}

.container-detail{
    width: sourcesVarMix.$width-content;
    background-color: white;
}

.title-price{
    margin-top: 32px;
    margin-right: 32px;
    margin-left: 16px;
    width: 278px;
    font-family: sourcesVarMix.$font-family1;
}

.title{
    font-size: 24px;
}

.price{
    font-size: 46px;
}

.price-cents{
    margin: 0px 1px 20px 2px;
    font-size: 33px;
}

.condition{
    font-size: 14px;
    color: #333333;    
}

.button-buy{
    margin-top: 16px;
    margin-right: 32px;
    height: 40px;
    width: 210px;
    background-color: #3483fa;
    color: white;
    border-radius: 4px;
    border:none;
    cursor: pointer
}

.description-title{
    margin-left: 32px;
    margin-bottom: 32px;
    font-size: 28px;
    font-family: sourcesVarMix.$font-family1;
}

.description-text{
    margin-left: 32px;
    font-size: 16px;
    margin-bottom: 32px;
    width: 686px;
    color: #666666;
    font-family: sourcesVarMix.$font-family1;
}

@media (max-width: sourcesVarMix.$width-content) {
    
    .detail-body{
        display: block;
        justify-content: center;
        width: 100%;
    }
    .container-detail{
        width: 100%;
    }
    .path-breadcrumb{
        margin: 1rem;
    }
    .top{
        width: 100%;
        flex-direction: column;
    }
    .title-price{
        width: 100%;
        margin-left: 1rem ;
        margin-right: 1rem ;
    }
    .condition{
        order: 1;  
    }
    .title{
        font-size: 20px;
        order: 2;
        margin-right: 1rem ;
    }
    .price{
        display: inline-block;
        width: 50%;
        font-size: 32px;
        order: 3;
    }
    .price-cents{
        font-size: 25px;
    }
    .button-buy{
        display: inline-block;
        margin:auto;
    }
    .image-cantainer{
        order: 4;
        width: 90%;
        margin: 0rem 1rem;
    }
    .description-title{
        width: auto;
        margin-left: 1rem ;
        margin-right: 1rem ;
    }
    .description-text{
        width: auto;
        margin-left: 1rem ;
        margin-right: 1rem ;
    }
}
